{% include "includes/header.twig" with index %}

{% block index %}

<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</main>

{% endblock %}

{% include "includes/footer.twig" %}
