</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</footer>

<!-- Core JavaScript -->
<script src="/dist/scripts.js"></script>

</body>
</html>
